.container {
  width: 100%;
  padding: 120px 50px 0;
  box-sizing: border-box;
}
.title {
  color: var(--Main-100, #0f1655);
  text-align: center;
  font-size: var(--50px);
  font-weight: 700;
}

.function_container {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 42px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: calc(100vh * 0.032);
}

.image_container {
  width: 100%;
  max-height: 940px;
  height: calc((835 * (100vw - 100px)) / 1120); /* px 단위 명시 */
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 1080px) {
  .image_container {
    height: calc((910 * (100vw - 100px)) / 1120); /* px 단위 명시 */
  }
}

@media (max-width: 720px) {
  .container {
    padding: 50px 16px 0;
  }
  .title {
    font-size: var(--24px);
  }
  .function_container {
    margin-top: 43px;
  }
  .image_container {
    height: 600px;
    border-radius: 30px;
    background: var(--Gray-20, #f8f8fa);
  }
}

@media (max-width: 530px) {
  .title {
    font-size: var(--20px);
  }
  .image_container {
    height: 462px;
  }
}
