.container {
  width: 100%;
  height: calc(100vh - 80px);
  border-radius: 100px;
  background-color: var(--Main-0, #f5f7ff);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.title {
  color: var(--Main-100, #0f1655);
  text-align: center;
  font-size: var(--36px);
  font-weight: 600;
  line-height: 130%; /* 46.8px */
  width: fit-content;
  margin: 0 auto;
  margin-top: calc(100vw * 0.04);
}
.container img {
  box-shadow: -30px 94px 134px 0px rgba(172, 176, 196, 0.3);
  position: absolute;
  object-fit: contain;
}

.image_invite {
  right: 50%;
  transform: translateX(-20%) rotate(0);
  bottom: calc(16% - 130px);
  z-index: 1;
  opacity: 0.3;
  width: calc(410 / 980 * 100vw);
  height: calc(410 / 980 * 100vw);
  max-width: 410px;
  max-height: 410px;
}

.image_onboarding {
  left: 50%;
  transform: translateX(-20%) rotate(0);
  bottom: calc(-30% - 200px);
  opacity: 0.3;
  width: calc(578 / 980 * 100vw);
  height: calc(892 / 980 * 100vw);
  max-width: 578px;
  max-height: 890px;
}

.container.active .image_invite {
  transform: translateX(-20%) translateY(-130px) rotate(-10.763deg);
  opacity: 1;
  transition:
    opacity 0.7s,
    transform 1.2s;
}

.container.active .image_onboarding {
  transform: translateX(-20%) translateY(-220px) rotate(7.575deg);
  opacity: 1;
  transition:
    opacity 1s,
    transform 0.7s;
}

.container:not(.active) .image_invite {
  transform: translateX(-20%) rotate(0);
  transition:
    opacity 1s,
    transform 1.2s;
}
.container:not(.active) .image_onboarding {
  transform: translateX(-20%) rotate(0);
  transition:
    opacity 1s,
    transform 0.7s;
}

@media (max-width: 720px) {
  .container {
    height: 462px;
    border-radius: 30px;
    background: #f7f9ff;
  }
}

@media (max-width: 820px) {
  .title {
    font-size: var(--24px);
  }
}
@media (max-width: 720px) {
  .title {
    margin-top: 35px;
  }
  .image_invite {
    width: 153.331px !important;
    height: 153.331px !important;
    transform: translateX(0) rotate(0);
  }
  .image_onboarding {
    width: 236.265px !important;
    height: 364.617px !important;
    transform: translateX(-25%) rotate(0);
  }
  .container.active .image_invite {
    transform: translateX(0) translateY(-220px) rotate(-10.763deg);
  }
  .container.active .image_onboarding {
    transform: translateX(-25%) translateY(-260px) rotate(7.575deg);
  }
}
@media (max-width: 530px) {
  .title {
    font-size: var(--18px);
    line-height: 150%; /* 46.8px */
  }
}
